{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('api_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h2>API Login</h2>
    <h3>Simulate JSON Login for using test tools</h3>

    <form id="myForm" name="myForm" method="POST">
        <div>
            <input type="text" id="email" name="email" value="example@gmail.com">
        </div>
        <div>
            <input type="password" id="password" name="password" value="123">
        </div>
        <input type="button" value="Submit!" onclick="submitInfo();">
    </form>

    <script>
        function submitInfo(){

            let form = document.forms["myForm"];
            let fd = new FormData(form);
            let data = {};
            for (let [key, prop] of fd) {
                data[key] = prop;
            }
            VALUE = JSON.stringify(data, null, 2);
            console.log(VALUE);

            const myHeaders = new Headers();
            myHeaders.append('Content-Type', 'application/json');

            fetch('/api/login', {
                method: 'POST',
                headers: myHeaders,
                mode: 'cors',
                cache: 'default',
                body: VALUE
            })
                .then(data => {
                    console.log(data);
                    if (data.status == 204) {
                        window.location = "/api";
                    }
                })
                .catch((err) => {
                    console.error(err);
                })
        }
    </script>
{% endblock %}
